*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}
a{
    color: #000;
    text-decoration: none;
}
.container{
    width: 1528px;
    margin: 0 auto;
}
header{
    padding-top: 40px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h1{
    display: ;
    position: relative;
    font-family: 'PT Serif', serif;
    font-size: 24px;
    font-weight: 700;
}
h1::before{
    display: inline-block;
    margin-right: 16px;
    content: '';
    width: 28px;
    height: 28px;
    background-color: #0056EC;
    border-radius: 50%;
}
h1::after{
    display: inline-block;
    position: absolute;
    top: 7px;
    right: 140px;
    content: '';
    width: 28px;
    height: 28px;
    background: #C8DBFB;
    border-radius: 50%;
    filter: opacity(90%);
}
nav{
    width: 30%;
    font-size: 18px;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
nav a:hover{
    text-decoration: underline;
}
section{
    padding: 40px 0;
}
